body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {

}

button {
    background-color: #f2c94c;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.section-title {
    text-align: center;
}

/*navigation bar*/
header {
    background-color: #bebaba;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

/*hero section*/
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero img {
    transform: scale(-1, 1);
    width: 50%;
    height: auto;
}

.hero-text {
    padding: 50px;
    text-align: left;
}

/*services section*/
.service {
    margin: 100px 0;
}
.service-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}
.cards {
    background-color: antiquewhite;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.cards img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/*cards*/
.cards {}

/*why ai section*/
.why-ai {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
}
.why-ai img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.box-left, .box-right {
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-direction: space-between;
    padding: 20px;
    margin: 20px;
}

.box-left img, .box-right img {
    width: 200px;
    height: 200px;
}
.box-left p, .box-right p {
    width: 50%;
    padding: 20px;
    align-self: center;
}
.box-left {
    display: flex;
    align-self: flex-start;}
.box-right {
    align-self: flex-end;
}

/*sefety section*/
.safety {
    margin: 100px 0;
    display: flex;
    flex-direction: row;
}

.sefety img {
    width:  100px !important;
    height: auto;
    margin-bottom: 10px;
}

/*price section*/
.price {
    margin: 100px 0;
}
.price-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}
.price-text {
    text-align: center;
    margin-top: 20px;
}

/*cta section*/
.call-to-action {
    background-color: #edcdcd;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    height: 500px;
}
.call-to-action button {
    margin-top: 20px;
}

/*footer*/
footer {
    background-color: #bebaba;
    text-align: center;
    padding: 10px;
}